* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile_container {
  margin-top: 2.6rem;
}

.profile_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 15rem 0rem 0rem;

  .profile_content {
    display: flex;
    gap: 2rem;

    .profile_info {
      display: flex;
      flex-direction: column;
    }

    .profile_nickname {
      font-weight: bold;
      font-size: 2.8rem;
    }

    .profile_btnFollow {
      width: 220px;
      font-size: 1.6rem;
    }
  }
  .profile_functions {
    display: flex;
    font-size: 2.8rem;
    margin-bottom: 9.4rem;
    gap: 1.6rem;
  }

  .profile_avatar {
    border-radius: 50%;
    width: 135px;
    height: 125px;
    object-fit: cover;
  }
}

.profile_bio {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: normal;
}

.profile_statistics {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.profile_link {
  margin-top: 1.2rem;

  .profile_nav {
    display: flex;
    align-items: center;
    gap: 5.5rem;
    margin: 0rem;
    font-size: 1.8rem;
    font-weight: bold;

    .profile_nav_link {
      transition: color 0.3s ease;
    }

    .profile_nav_link.active::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      transition: color 0.3s ease, border-bottom-color 0.3s ease;
    }

    .profile_nav_link.active {
      border-bottom: 3px solid #161823;
      text-align: center;
    }
  }
}

@keyframes slide {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
