* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.video-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 8px 0px;
  border-bottom: 1px solid #d0d2d0;
  max-width: 550px;
  height: auto;
}

.video-wrapper {
  position: relative;
}

.video-info_user:hover .nickname {
  text-decoration: underline;
  cursor: pointer;
}

.video-user {
  width: 476px;
  height: 576px;
}

.control-buttons {
  position: absolute;
  bottom: 4.25rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  gap: 15rem;
  opacity: 0; /* Ẩn ban đầu */
  transition: opacity 0.3s ease; /* Hiệu ứng hiển thị mượt mà */

  .control-btnPlay,
  .control-btnMute {
    color: #fff;
    font-size: 2.55rem;
  }

  .control-btnMute,
  .control-btnPlay:hover {
  }
}

.video_item:hover .control-buttons {
  opacity: 1; /* Hiển thị khi hover vào video */
}

.btn-follow {
  background-color: #fff;
  border: 1px solid rgb(255, 83, 112);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  color: rgb(255, 83, 112);
  font-size: 1.6rem;
  font-weight: 600;
  justify-content: center;
}

.btn-follow:hover {
  user-select: none;
  text-decoration: none;
  background-color: rgba(254, 44, 85, 0.06);
}

.control-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.video-function {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.video-info {
  display: flex;
  align-items: center; // Căn các phần tử con theo chiều dọc
  justify-content: space-between;
}

.video-info_user {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 56px;
  object-fit: cover;
  overflow: hidden;
}

.user-info {
  flex: 1 1;
  color: #161823;
  margin-left: 12px;
}

.user-name {
  font-size: 1.4rem;
  margin-left: 4px;
}

.video-wrapper {
  display: flex;
  position: relative;
}

.video_item {
  margin-left: 68px;
  margin-top: 12px;
  position: relative;
}

.video-function {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video-user {
  border-radius: 3.6%;
  object-fit: cover;
  position: relative;
}

.video_function {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
  margin-top: 6px;
  text-align: center;

  // Functions
  .like_function,
  .comment_function,
  .share_function {
    margin-left: 0px;
    text-align: center;
  }
}

.btn-follow {
}

.btn-function {
  align-items: center;
  background-color: rgba(22, 24, 35, 0.059);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}
